body{
    margin: 5em 10em;
}

.grid{
display: grid;
grid-gap: 1px;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: repeat(8, 100px);
grid-template-areas:
    "header header header"
    "navbar mainbody aside"
    "footer  footer  footer";
}



.header{
    grid-area: header;
    background-color: chartreuse;
    color: white;
    grid-column: span 12;
    grid-row: span 1;
    text-align: center;

}

.navbar{
    grid-area: navbar;
    background-color: blueviolet;
    color: black;
    grid-column: span 3;
    grid-row: span 6;
    align-items: left;
    justify-content: left;
    padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;

}

.aside{
    grid-area: aside;
    background-color: orange;
    color: black;
    grid-column: span 3;
    grid-row: span 6;
    align-items: left;
    padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;

}

.mainbody{
    grid-area: mainbody;
    background-color: white;
    color: black;
    grid-column: span 6;
    grid-row: span 6;
    align-items: left;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.footer{
    grid-area: footer;
    background-color: gray;
    color: black;
    grid-column: span 12;
    grid-row: span 1;
    text-align: center;

}





